/* transform : translate(), scale(), rotate(), skew()
*/



div {
    width: 200px;
    height: 200px;
    display: inline-block;
}

.one {
    background: red;
    transform: translateX(50%);
}

.two {
    background: green;
    transform: translateY(30px);
}

.three {
    background: blue;
    /* transform: translate(100px); */
    transform: translate(200px, 300px);

}