/*pseudo elements:: before :: after CONTENT not element
content:'' --- required
img--- does not work */




p::before {
    content: "hello ";
    display: block;
    background: black;
    font-weight: bold;
    font-size: 2rem;
    color: red;
}

P::after {
    content: " End";
    display: block;
    background: red;
    font-weight: bold;
    font-size: 2rem;
    color: blue
}