div {
    width: 150px;
    height: 150px;
    display: flex;
    margin: 5px;
}

.one {
    background: linear-gradient(red, green);
}

.two {
    background: linear-gradient(to left, red, green, white, red);
}

.three {
    background: linear-gradient(102deg, red, green);
}

.four {
    background: linear-gradient(to top left, red, green);
}

.five {
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .5));
}

.six {
    background: linear-gradient(to left, rgba(0, 0, 0, .1), rgba(0, 0, 0, .5));
}